<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> header}}
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <p style=""></p>
    <h1>{{screamIt title}}</h1>
    <p>Handler {{screamIt 'welcomeuser' 'user'}}</p>
    <p>I'll be helping you output...</p>
  </body>
  <footer>Copywrite {{year}} </footer>
  {{> footer}}
</html>
